.component {
  border: 1px solid black;
  width: 15rem;
  height: 10rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 2rem;
  display: flex;
  border-radius: 10px;
}

.data {
  padding: 4px 6px;
}

.username {
  font-weight: bold;
  font-size: larger;
}

.content {
  font-size: large;
  padding: 20px 5px;
}

.line {
  border: 0.5px solid black;
}
