.component {
  border: 1px solid black;
  width: 15rem;
  height: 6rem;
  margin-left: 10rem;
  margin-top: 2rem;
}

.data {
  padding: 4px 6px;
}

.username {
  font-weight: bold;
  font-size: larger;
}

.content {
  font-size: large;
}
