.component {
  width: auto;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  border-width: 1.5px;
  font-size: 15px;
  border: 2px solid black;
  outline: none;
  border-radius: 12px;
  margin-top: 2.5rem;
}

.data {
  padding: 4px 6px;
}

.username {
  font-weight: bold;
  font-size: larger;
}

.content {
  font-size: large;
  padding: 20px 5px;
}

.line {
  border: 0.5px solid black;
  margin-top: 2px;
}

.line2 {
  border: 0.5px solid black;
  margin-bottom: 4px;
}

.createdAt {
  font-size: 12px;
  margin-top: 0.4rem;
  margin-left: 0.6rem;
}

.trash {
  float: right;
  padding: 4px 4px;
  background-color: white;
  border:  0;
  cursor: pointer;
}

.phone {
  font-size: smaller;
}